<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="30001">
		<setting id="username" label="30002" type="text" default="" />
		<setting id="password" label="30003" type="text" default="" option="hidden" />		
	</category>
	<category label="30010">
		<setting id="cacheage" label="30011" type="number" default="30" />
		<setting id="promptforcache" label="30012" type="bool" default="true" />
		<setting id="mylistage" label="30013" type="number" default="1" />
		<setting id="promptformylist" label="30014" type="bool" default="false" />
	</category>
</settings>